<a href="https://colab.research.google.com/github/talbaycan/Python/blob/main/Getting_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GETTING STARTED

In [ ]:
6-2 #HUHH

4

In [ ]:
print ("Hello")

Hello

In [ ]:
type({"Hello",2,3})

set

In [ ]:
country_name = "United Kingdom"
city_name = "London"
print (country_name)
print (city_name)
len(country_name)
len(city_name)

United Kingdom
London

6

In [ ]:
num = 423
type(num)
str(num)

'423'

In [ ]:
num2 = 4.532
type(num2)
int(num2)

4

In [ ]:
ste_num = "345"
int(ste_num)+1

346

In [ ]:
print("here is \rthe new line")

the new line

In [ ]:
mystring = "Track"
mystring
mystring[::-1]

'kcarT'

In [ ]:
str1 = "Hello today is \n"
str2 = "2nd November"
print(str1+str2+"_")

Hello today is
2nd November_

In [ ]:
print(str1*5)

Hello today is
Hello today is
Hello today is
Hello today is
Hello today is

In [ ]:
mystring3 = "HEY HERE IS MY STRING"
mystring3.split("E")

['H', 'Y H', 'R', ' IS MY STRING']

In [ ]:
print(mystring3+" "+"5")

HEY HERE IS MY STRING 5

In [ ]:
"my salary will be {} by next April".format(5000)

'my salary will be 5000 by next April'

In [ ]:
mystring4 = "my salary will be {} by next April"
salary = "£5000"
print(mystring4.format(salary))

my salary will be £5000 by next April

In [ ]:
mystring5 = "I bought {} kg of {} that cost {} pounds"
weight = 5
product = "mango"
value = "£20"
print(mystring5.format(weight,product,value))

I bought 5 kg of mango that cost £20 pounds

In [ ]:
print("my %s will be %d by next April"%("salary",5000))

my salary will be 5000 by next April

In [ ]:
print("my salary will be %d by next April and %f by June"%(5000,5000.20))

my salary will be 5000 by next April and 5000.200000 by June

In [ ]:
print("my %s will be 5000 by next April and %f by June"%("salary",5000.20))

my salary will be 5000 by next April and 5000.200000 by June

In [ ]:
6%6

0